@charset "UTF-8";

body{
    background-color: darkslategrey;
    letter-spacing: normal;
    line-clamp: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20xp;
    font-style: initial;
    color: rgb(186, 174, 157);

}
h1{
    color: rgb(190, 148, 97);
}
h2{
    color: rgb(215, 162, 162);
}